{
  "Version": 2,
  "Mixers": {
    "Guid": "3694f4b5-c183-41dc-bbb2-a3e057326279",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spatializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "Reverb": 1,
    "AirAbsorption": 1,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "BlockingTags": null,
    "IgnoredTags": "passaudio,passbullets,sky,playerclip,trigger,player",
    "Processors": [],
    "Children": [
      {
        "Guid": "75bde431-6c2d-4358-b00d-9e7405755ed7",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 1,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "e2c7bd76-af44-45eb-95d2-8d9a7d494e19",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "Reverb": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": [
          {
            "Guid": "df5c2c7c-870d-4db2-8df0-9d5be1f943f2",
            "Name": "Weapons",
            "Volume": 0.25,
            "Mute": false,
            "Solo": false,
            "Spatializing": 1,
            "MaxVoices": 64,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "Reverb": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "BlockingTags": null,
            "IgnoredTags": null,
            "Processors": [],
            "Children": [
              {
                "Guid": "10cde250-2944-461b-9f27-ea79833ff2f5",
                "Name": "FirstPerson",
                "Volume": 1,
                "Mute": false,
                "Solo": false,
                "Spatializing": 1,
                "MaxVoices": 64,
                "DistanceAttenuation": 1,
                "Occlusion": 1,
                "Reverb": 1,
                "AirAbsorption": 1,
                "OverrideOcclusion": false,
                "OcclusionTags": null,
                "BlockingTags": null,
                "IgnoredTags": null,
                "Processors": [],
                "Children": []
              },
              {
                "Guid": "07b85f86-974b-4ead-a4d3-749766c82a60",
                "Name": "ThirdPerson",
                "Volume": 1,
                "Mute": false,
                "Solo": false,
                "Spatializing": 1,
                "MaxVoices": 64,
                "DistanceAttenuation": 1,
                "Occlusion": 1,
                "Reverb": 1,
                "AirAbsorption": 1,
                "OverrideOcclusion": false,
                "OcclusionTags": null,
                "BlockingTags": null,
                "IgnoredTags": null,
                "Processors": [],
                "Children": []
              }
            ]
          }
        ]
      },
      {
        "Guid": "de30e586-48d9-4d79-a31c-aeab788aedd0",
        "Name": "UI",
        "Volume": 0.75,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 1,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "54200508-2e30-4a71-a22b-8bae1b9b1040",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "Reverb": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "a14daec7-1519-461e-bb52-8bb4e0b1081f",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}